<h1> Welcome to my first Angular App!</h1>
<!--<app-comp-from-cmd ></app-comp-from-cmd> -->
<ul>
    <li *ngFor="let usr of users">
        {{usr.username}}
        <span *ngIf="usr.username == 'AleNavarini'" [style.background]="usr.username == 'AleNavarini' ? 'green': 'red'">
            ES UN CAPO </span>
    </li>
</ul>


<span>Username: </span><input type="text" [(ngModel)]="current_username" /> <br>
<span>Password: </span><input type="text" [(ngModel)]="current_password" />
<button (click)="addUser()"> Añadir Usuario</button>


<!-- switch -->
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'">
        Red is the best
    </li>
    <li *ngSwitchCase="'yellow'">
        Yellow is the best
    </li>
</ul>
<div>
    <p [ngClass]="{'xmas': color == 'red'}"> This is a paragraph inside a Div</p>
</div>


<ul>
    <li><a [routerLink]="[ '/']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="[ '/new']"  routerLinkActive="active">New Component</a></li>
</ul>
<router-outlet></router-outlet>